.titolo>h1{
    font-weight: bold;
    font-size: 40px;
}

*{
    margin: 0;
    box-sizing: border-box;
}

header{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;

}

.logo{
    display: inline-block;
    vertical-align: middle;
}

.titolo{
    display: inline-block;
    vertical-align: middle;
}

body{
    background-color: lightgray;
}

main{
    background-color: white;
    margin: 1px auto 0px auto;
    width: 70%;
}

input{
    border-radius: 5px;
    height: 30px;
    border-color: lightgrey;
    background-color: white;
    border-style: solid;
    color: lightgrey;
}

.checked{
    background-color:#47A9E8;
    color: white;
    border-color: #47A9E8;
}

#toolbar{
    padding: 10px 0px 10px 50px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;
    margin: 50px auto 0px auto;
    width: 70%;
}

setion>h3{
    font-weight: bold;
}

.tag{
    border-radius: 20px;
    color: white;
    padding: 0 10px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.editorial{
    background-color: #47A9E8;
}

.editorial::after{
    content: "Editorial";
}

.check{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

section{
    margin-bottom: 20px;
}

.Q1-Goals{
    background-color: #9c72e3;
    
}

.Q1-Goals::after{
content: "Q1 Goals";
}

.cross{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}

.Recruiting{
    background-color: #63bea9;
}

.Recruiting::after{
    content: "Recruiting";
}

.Mobile{
    background-color: #F39C34;
}

.Mobile::after{
    content: "Mobile";
}

.Website{
    background-color: #d563a0;
}

.Website::after{
    content: "Website";
}

.Sales{
    background-color: #b1c729;
}

.Sales::after{
    content: "Sales";
}





