.titolo>h1{
    font-weight: bold;
    font-size: 40px;
}

*{
    margin: 0;
    box-sizing: border-box;
}

header{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.logo{
    display: inline-block;
    vertical-align: middle;
}

.titolo{
    display: inline-block;
    vertical-align: middle;
}

