.titolo>h1{
    font-weight: bold;
    font-size: 40px;
}

*{
    margin: 0;
    box-sizing: border-box;
}

header{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;

}

.logo{
    display: inline-block;
    vertical-align: middle;
}

.titolo{
    display: inline-block;
    vertical-align: middle;
}

body{
    background-color: lightgray;
}

main{
    background-color: white;
    margin: 50px auto 0px auto;
    width: 70%;
}

input{
    border-radius: 5px;
    height: 30px;
    border-color: lightgrey;
    background-color: white;
    border-style: solid;
}

.checked{
    background-color:#47A9E8;
    color: white;
    border-color: #47A9E8;
}

#toolbar{
    padding: 10px 0px 10px 50px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;
    margin: 50px auto 0px auto;
    width: 70%;
}


